[defaults]
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
inventory=inventory.yml
jinja2_extensions = jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n
interpreter_python = /Users/gp/.pyenv/shims/python
